@charset "utf-8";

/* 스킵 네비게이션 */
#skip a {position: absolute; left: 0; top: -40px; color: #fff; border: 1px solid; background-color: #333; line-height: 35px; width: 200px; text-align: center;}
#skip a:focus { top: 0; }

/* 레이아웃 */
#wrap {width: 100%;}
#header {width: 100%; height: 325px; background:url(../img/header_bg.jpg) center;}
#contents {}
#footer {width: 100%; height: 200px; background-color: #333;}

/* 컨텐트 레이아웃 */
#con-nav {background-color: #f6fdff;}
#con-tit {background-color: #eaf7fd;}
#con-ban {background-color: #dceff7}
#con-con {width: 100%; height: 200px; background-color: #666;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit;}

/* 헤더 */
#header {}
#header .header-menu {text-align: right}
#header .header-menu a {display: inline-block; color: #fff; padding: 10px 0 10px 10px;}
#header .header-menu a:hover {color: #666;}
#header .header-title {text-align: center;}
#header .header-title h1 {display: inline-block; color: #fff; background-color: #4aa8d4; font-size: 28px; padding: 10px; margin-top: 40px;}
#header .header-title a {background-color: #2698cb; font-size: 18px; color: #fff; padding: 5px 10px 5px;}
#header .header-title a:hover {color: #999;}
#header .header-icon {text-align: center;}
#header .header-icon a {display: inline-block;  width: 60px; height: 60px; background: url(../img/icon.png); margin-top: 50px;}
#header .header-icon a.icon1 {background-position: 0 0;}
#header .header-icon a.icon2 {background-position: 0 -60px;}
#header .header-icon a.icon3 {background-position: 0 -120px;}
#header .header-icon a.icon4 {background-position: 0 -180px;}
#header .header-icon a.icon1:hover {background-position: -60px 0;}
#header .header-icon a.icon2:hover {background-position: -60px -60px;}
#header .header-icon a.icon3:hover {background-position: -60px -120px;}
#header .header-icon a.icon4:hover {background-position: -60px -180px;}

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 30px 0;}
.nav > div {float: left; width: 40%;}
.nav > div a {color: #222;}
.nav > div:last-child {width: 20%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div:last-child ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.title {position: relative;}
.title h2 {font-size: 40px; text-align: center; font-weight: normal; color: #2c94c4; padding: 20px 0;font-family: 'Nanum Brush Script', cursive;}
.title .btn {position: absolute; right: 0; top: 50%; width: 60px;height: 60px; background: url(../img/icon.png) no-repeat 0 -600px; transform: translateY(-50%);}